/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap';
@import "tailwindcss" source(none);
@plugin "@tailwindcss/typography";
@source "../css";
@source "../js";
@source "../../lib/phoenix_starter_kit_web";

@import "../../deps/peek_app_sdk/assets/theme/theme.css";
@import "../../deps/peek_app_sdk/assets/components/core-components.css";
@source "../../deps/peek_app_sdk/lib/peek_app_sdk/ui";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
  styled: false;
}
